<p><strong>Estadísticas:</strong></p>
<p>Número de preguntas: <%= p %></p>
<p>Número de comentarios: <%= c %></p>
<p>Número de preguntas con comentarios: <%= pcc %></p>
<p>Número de preguntas sin comentarios: <%= psc %></p>
<p>Número medio de comentarios: <%= mc %></p>


	

